*{
padding:0px;
margin:0px;   
}
body{

   background-image:url(./img/fondo.jpeg);
   background-repeat:no-repeat;
   background-size:cover;
}
.caja1 ,.caja2,.pagos{

   border:1px solid black;
   width:30%;
   height:30%; 
   
}
.clientes{


   display:flex;
   flex-direction:row;
   justify-content:space-around;

}
h2{

   text-align:center;

}
.caja1 img {

   width:50%;
   position:relative;
   left:70px;
   bottom:10px;
}   